@font-face {
  font-family: 'IcoMoon Free';
  src: url('#{$imo-font-path}/IcoMoon-Free.eot?v=#{$imo-version}');
  src: url('#{$imo-font-path}/IcoMoon-Free.eot?#iefix&v=#{$imo-version}') format('embedded-opentype'),
    url('#{$imo-font-path}/IcoMoon-Free.woff2?v=#{$imo-version}') format('woff2'),
    url('#{$imo-font-path}/IcoMoon-Free.woff?v=#{$imo-version}') format('woff'),
    url('#{$imo-font-path}/IcoMoon-Free.ttf?v=#{$imo-version}') format('truetype');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]::before, [class*=" icon-"]::before {
    padding: 0 5px;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'IcoMoon Free' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    white-space: nowrap;

    &:hover {
        text-decoration: none;
    }
}